@import 'preact-hint/style.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  accent-color: #FFC799;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

svg {
  height: 1.5rem;
  width: 1.5rem;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #000;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.dark .loader {
  border: 5px solid #fff;
  border-bottom-color: transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.preact-hint__content {
  padding: 0.25rem 0.5rem;
  color: #333;
  background: #f5f5f5;
}

.preact-hint::after {
  border-top-color: #f5f5f5;
}

.dark .preact-hint__content {
  color: #eee;
  background: #282828;
}

.dark .preact-hint::after {
  border-top-color: #282828;
}

/* custom file input button shenanigans */
#file-upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#file-upload + label {
	cursor: pointer;
}

#file-upload:focus + label,
#file-upload + label:hover {
  outline: 2px solid #FFC799;
}
